*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #ffffff;
}

header {
    background-image: url(degradados/degradado1-incrustado.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 109vh;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.duality {
    font-family: 'Belanosima', sans-serif;
    color: #ffffff;
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.menu .logo{
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'Secular One', sans-serif;
}

.menu .navbar ul li{
    position: relative;
    float: left;
    font-family: 'Secular One', sans-serif;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #0EAef3;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    display: flex;
}




.content{
    padding: 150px 150px 0px 0px;
}

.content h1{
    color: #ffffff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500;
}


.content p{
    margin-top: 10px;
    color: #0E0E0E;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 40px;
    padding-top: -25px;
}

.btn-1{
    display: inline-block;
    background-color: rgb(170, 177, 255, 0.3);
    border: 1px solid #AAB1FF;
    margin: 35px 0px 0px;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 25px;
}

.btn-1:hover{
    background-color: #AAB1FF;
}




.services{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 250px;
}

.service{
    padding: 25px;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgba(135, 141, 214, 0.3);
    font-family: 'Secular One', sans-serif;
}


.service img{
    margin-top: 20px;
}

.service h3{
    font-size: 20px;
    color: #0E0E0E;
    margin-bottom: 10px;
}

.service p{
    color: #525254;
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
    text-transform: none;
}




.porfolios {
    padding: 80px 0px;
    text-align: center;
    color: #0E0E0E;
    font-family: 'Belanosima', sans-serif;
    text-transform: none;
}

.porfolios h2{
    font-size: 90px;
    padding-bottom: 30px;
}

.porfolio {
    display: flex;
    align-items: center;
}

.porfolio img{
    width: 350px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.porfolio-1{
    text-align: left;
    margin-left: 100px;
}

.porfolio-1 h3{
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'Secular One', sans-serif;
    text-transform: none;
    margin-top: 25px;
}

.porfolio-1 p{
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
    font-family: 'Secular One', sans-serif;
    text-transform: none;
    margin-top: 25px;
}

.porfolio-2{
    text-align: left;
    margin-right: 100px;
    font-family: 'Secular One', sans-serif;
    text-transform: none;
    margin-top: 25px;
}

.porfolio-2 h3{
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'Secular One', sans-serif;
    text-transform: none;
    margin-top: 25px;
}

.porfolio-2 p{
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
    font-family: 'Secular One', sans-serif;
    text-transform: none;
    margin-top: 25px;
}

.btn-2{
    display: inline-block;
    padding: 15px; 
    border-radius: 25px;
    background-color: #704270;
    color: #FFFFFF;
}

.btn-2:hover{
    background-color: #8650d7;
}




footer {
    padding: 150px 0px 30px 0px;
    background-image: url(degradados/degradado2-enlazado_Mesa\ de\ trabajo\ 1.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
}

.info-content{
    display: flex;
}
.info-price{
    padding: 35px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 15px 0px 0px;
    color: #0E0E0E;
}

.info-price h2{
    font-size: 25px;
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
    color: #0EAef3 !important;
margin-bottom: 10px;
}

.info-price p{
    font-size: 16px;
    color: #525254;
}

.info-text{
    margin-left: 35px;
    color: #ffffff;
}

hr{
    margin-bottom: 45px;
    margin-top: 0px;
    border: 0.5px solid #0E0E0E;
}



.enlances {
    display: flex;
    justify-content: space-between;
    color: #0E0E0E;
    font-family: 'Secular One', sans-serif;
}

.enlances h3{
    font-size: 25px;
}

.enlance {
    display: flex;
    margin-top: -20px;
}

.enlance li a{
    display: block;
    margin: 20px;
    color: #0E0E0E;
    font-family: 'Secular One', sans-serif;
    text-transform: none;
}

.enlance li a:hover{
    color: #0EAef3;
}





@media (max-width:991px){

    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #5B50BC;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    header{
        height: 0vh;
        padding: 400px;
        background-position: center center;
    }

    .header-content{
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0px 30px;
    }

    .content{
        padding: 0px;
    }

    .content h1{
        margin-top: 100px;
        font-size: 45px;
    }

    .content p{
        margin-top: 0px;
    }

    .header-content img{
        width: 150px;
    }

    .services{
        flex-direction: column;
        padding: 0px 30px 0px 30px;
    }

    .service{
        margin-bottom: 50px;
    }

    .porfolios{
        padding: 0px 30px 30px 30px;
    }

    .porfolios h2{
        margin-bottom: 15px;
    }

    .porfolio{
        flex-direction: column;
    }

    .porfolio img{
        display: none;
    }

    .porfolio-1{
        text-align: center;
        margin: 0px 0px 25px 0px;
    }

    .porfolio-2{
        text-align: center;
        margin: 0px 0px 25px 0px ;
    }

    footer{
        padding: 0px 30px 30px 30px;
    }

    .info-content{
        flex-direction: column;
        text-align: center;
    }

    .info-price{
        margin: 0px 0px 20px 0px;
    }

    .info-text{
        margin: 0px;
    }

    hr{
        margin: 25px 0px;
    }

    .enlaces{
        flex-direction: column;
        align-items: center;
    }

    .enlace{
        flex-direction: column;
    }


}